.page-header
  = link_to procurements_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Назад
  = link_to @procurement, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    Показать
  %h1 Редактирование закупки

= render 'form'
