.page-header
  = link_to procurements_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_procurement_path(@procurement), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show procurement

%dl.dl-horizontal
  %dt Name:
  %dd= @procurement.name
  %dt Details:
  %dd= @procurement.details
